<form action='@Url.Action("traerPregunta","Account")' method="post">
    <input type="text" name="email" placeholder="Ingrese su mail" required>
    <br><input type="submit" value="Continuar">
</form>
<br>@ViewBag.validar