<form action='@Url.Action("traerContra","Account")' method="post">
    <input type="text" name="respuesta" placeholder="@ViewBag.pregunta" required>
    <input type="submit" value="Continuar">
</form>