<form action='@Url.Action("login")' method="post">
    <input type="text" name="username" placehnolder="Username" required>
    <input type="password" name="contraseña" placehnolder="Contraseña" required>
    <input type="submit" value="Continuar">
</form>
<br><a href='@Url.Action("registrarse")'>Registrarse</a>